#fork {
  left: 50%;
  transform: translateX(-50%);
}

.fork-ListOfList,
.fork-Menu,
.fork-ListEditing {
  position: fixed;
  height: 50px;
  width: 66vw;
  min-width: 280px;
  max-width: 400px;
  z-index: 2;
}
.fork-Settings {
  position: absolute;
  height: 50px;
  width: 70%;
  /* min-width: 280px;
  max-width: 400px; */
  bottom: 50%;
  translate: 0 50%;
}

.fork-line {
  position: absolute;
  left: 50%;
  height: 100%;
  width: 2px;
  background-image: linear-gradient(
    to bottom,
    rgba(239, 240, 232, 0.1),
    rgba(239, 240, 232, 0.2),
    rgba(239, 240, 232, 0.1)
  );
  transform: scaleY(0) translate(-50%, 0);
  border-radius: 50%;
  opacity: 0;
  z-index: 2;
  transition: 0.25s ease;
}

.fork-line.Settings,
.fork-line.ListOfList,
.fork-line.ListEditing {
  transform: scaleY(1.2);
  opacity: 1;
}

.fork-line.forkAdd {
  scale: 0;
  translate: -20vw 0;
}
.fork-line.forkSearch {
  scale: 0;
  translate: 20vw 0;
}

.fork-bg-header {
  position: fixed;
  left: 0;
  right: 2px; /* padding for scroll-bar */
  top: 0;
  bottom: 84vh;
  background-image: linear-gradient(
    to bottom,
    rgba(35, 35, 35, 1) 0%,
    rgba(35, 35, 35, 1) 58%,
    rgba(35, 35, 35, 1) 58%,
    rgba(35, 35, 35, 0.1) 100%
  );
  z-index: 2;
  opacity: 0;
}
.fork-bg-header.ListOfList {
  transform: scaleY(100%);
  opacity: 1;
}

/* blur */
.fork-bg-header::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 26%;
  backdrop-filter: blur(1px);
}

#fork-bg-lol {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  backdrop-filter: blur(1px);
}
