/* Button back setting */

#page-setting-back-container {
  position: fixed;
  top: 12px;
  left: 12px;
  width: 30px;
  height: 30px;
  pointer-events: all;
  opacity: 0.8;
  background-image: url('../../../public/buttons/back.svg');

  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* Button back setting */

/* spliting page  */
#sign {
  position: relative;
  height: 80%;
  width: 80%;
  min-width: 250px;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: all;

  /* border: dotted 8px rgba(0, 0, 0, 0.5); */

  display: flex;
  flex-direction: column;
}

#sign-header {
  flex: 0.2;
}
#sign-main {
  flex: 0.4;
}
#sign-footer {
  flex: 0.4;
}
#sign-header,
#sign-main,
#sign-footer {
  /* border: dotted 1px rgb(0, 255, 51, 0.5);
  box-sizing: border-box; */
}

/* spliting page  */

/* H E A D E R  */
#sign-header-fork {
  position: relative;
  top: 50%;
  left: 50%;
  width: 300px;
  transform: translate(-50%, -50%);
}
#sign-header-fork-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-76px, -50%);
  width: 2px;
  height: 60px;
  background-color: var(--text-color);
  border-radius: 50%;
  transition: 0.25s;
  opacity: 0.4;
}

#sign-header-fork-line.in {
  transform: translate(76px, -50%);
}
#sign-header-fork-line.up {
  transform: translate(-76px, -50%);
}

#sign-in-header-text,
#sign-up-header-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  text-align: center;
  opacity: 0.4;
  transition: 0.25s;
}
#sign-in-header-text {
  left: 0;
}
#sign-up-header-text {
  right: 0;
}

#sign-in-header-text.on,
#sign-up-header-text.on {
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  font-size: 36px;
}
/* H E A D E R  */

/* M A I N */
#sign-in-main-inner {
  position: relative;
  top: 50%;
  width: 80%;
  left: 50%;
  translate: -50% -50%;
}

#containeer-auth-mail,
#containeer-auth-password,
#containeer-auth-password-confirm {
  position: relative;
  height: 70px; /*! margin input  */
}

#auth-input-mail,
#auth-input-password,
#auth-input-password-confirm {
  position: absolute;
  margin-bottom: 30px;
  left: 50%;
  translate: -50% 0;
  width: 100%;
  font-size: 28px;
}

#containeer-auth-password-confirm.on {
  scale: 1 1;
  visibility: visible;
  transition: 0.25s;
}
#containeer-auth-password-confirm.off {
  scale: 1 0;
  visibility: hidden;
  transition: 0.25s;
}

#input-mail-status,
#input-password-status,
#input-password-confirm-status {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;

  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 50%;
  /* background-image: url('../../../public/buttons/exit.svg'); */
}
#input-mail-status.issue {
  background-image: url('../../../public/buttons/exit.svg');
}
#input-mail-status.ok {
  background-image: url('../../../public/buttons/tick.svg');
}
#input-password-status.issue {
  background-image: url('../../../public/buttons/exit.svg');
}
#input-password-status.ok {
  background-image: url('../../../public/buttons/tick.svg');
}
#input-password-confirm-status.issue {
  background-image: url('../../../public/buttons/exit.svg');
}
#input-password-confirm-status.ok {
  background-image: url('../../../public/buttons/tick.svg');
}

.eye,
.eye-hide {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;

  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 1;
}
.eye {
  background-image: url('../../../public/buttons/eye.svg');
}
.eye-hide {
  background-image: url('../../../public/buttons/eye-hide.svg');
}

#container-remember {
  position: absolute;
  left: 10%;
}

#forgot-open-button {
  position: absolute;
  right: 10%;
}
/* M A I N */

/* F O O T E R */

#auth-sign-in-botton {
  position: relative;
  top: 40%;
  left: 50%;
  translate: -50% -50%;

  width: 160px;
  height: 50px;
  font-size: 28px;
}

#auth-sign-github,
#auth-sign-google {
  position: absolute;
  bottom: 4%;
  height: 50px;
  width: 50px;
  background-repeat: none;
  background-size: 100%;
}

#auth-sign-github {
  left: 36%;
  background-image: url('../../../public/icons/gitHub.svg');
}

#auth-sign-google {
  right: 36%;
  background-image: url('../../../public/icons/google.svg');
}

#container-or-split {
  opacity: 0.2;
}
#auth-sign-or-line-left,
#auth-sign-or-line-right {
  position: absolute;
  background-color: var(--text-color);
  bottom: 14%;
  height: 2px;
  width: 16%;
  border-radius: 50%;
}
#auth-sign-or-line-left {
  left: 30%;
}
#auth-sign-or-line-right {
  right: 30%;
}

#auth-sign-or-text {
  position: absolute;
  bottom: 14%;

  left: 50%;
  translate: -50% 18px;
  font-size: 28px;
}
