#burger {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  top: 0;
  right: 0;
  /* border: 1px solid #ffff; */
  transform: rotate(0deg);
  z-index: 5;
  transition: 0.5s ease-in;
}

.burger-line,
.burger-line::before,
.burger-line::after {
  position: fixed;
  height: 2px;
  width: 28px;
  background-color: #d9d9d9;
  border-radius: 4px;
}
.burger-line::before,
.burger-line::after {
  content: '';
  transition: all 0.5s linear;
}
.burger-line::before {
  transform: translateY(-7px) rotate(0);
}

.burger-line::after {
  transform: translateY(7px) rotate(0);
}

.burger-line.ListOfList::after {
  transform: translateY(0) rotate(-90deg);
}

.burger-line.ListOfList::before {
  transform: translateY(0) rotate(-180deg);
  opacity: 0;
}

.burger-line.ListOfList {
  transform: translateY(0) rotate(-45deg);
}
