.button {
  pointer-events: auto;
  position: absolute;
  width: 42px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.button > * {
  pointer-events: none; /* Отключаем обработку событий для всех дочерних элементов */
}
.button-position-left {
  left: 26px;
}
.button-position-right {
  right: 26px;
}
.edit,
.exit,
.add,
.search {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.edit {
  background-image: url('../../public/buttons/edit.svg');
  margin: 2px;
}
.exit {
  background-image: url('../../public/buttons/exit.svg');
  margin: 6px;
}
.add {
  background-image: url('../../public/buttons/add.svg');
  margin: 4px;
}
.search {
  background-image: url('../../public/buttons/search.svg');
  margin: 4px;
}

.bg-left,
.bg-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  opacity: 0.34;
}
.bg-left {
  border-left: 2px solid #d9d9d9;
}
.bg-right {
  border-right: 2px solid #d9d9d9;
}

.img {
  transition: 0.25s;
}
.button:hover .img {
  scale: 1.4;
  rotate: -360deg;
}
.button::before {
  content: '';
  background-color: #d9d9d9;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  scale: 0.2;
  filter: blur(21px);
  opacity: 0;
}

.button:active::before {
  content: '';
  scale: 0.8 0.7;
  opacity: 1;
}

.button:active {
  scale: 1.2;
}
