.button {
  pointer-events: auto;
  position: absolute;
  width: 48px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button > * {
  pointer-events: none; /* Turn-off for all childe elenent */
}

/* Fork button size */
.Fork {
  height: 44px;
  width: auto;
  min-width: 90px;
}
.Fork.button-position-left {
  left: 0;
  right: 70%;
}
.Fork.button-position-right {
  right: 0;
  left: 70%;
}
/* Fork button size */

.StrokeElement.button-position-left {
  left: 26px;
}
.StrokeElement.button-position-right {
  right: 26px;
}
.edit,
.exit,
.add,
.search,
.tick,
.faq {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.edit {
  background-image: url('../../public/buttons/edit.svg');
  margin: 2px;
}
.exit {
  background-image: url('../../public/buttons/exit.svg');
  margin: 6px;
}
.add {
  background-image: url('../../public/buttons/add.svg');
  margin: 4px;
}
.search {
  background-image: url('../../public/buttons/search.svg');
  margin: 4px;
}
.tick {
  background-image: url('../../public/buttons/tick.svg');
  margin: 4px;
}
.faq {
  background-image: url('../../public/buttons/faq.svg');
  margin: 4px;
}
.contacts,
.donate {
  position: absolute;
  top: 50%;
  right: 50%;
  translate: 50% -50%;
  font-size: 24px;
}

.bg-left,
.bg-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  opacity: 0.34;
}

.bg-left {
  border-left: 2px solid var(--text-color);
}
.bg-right {
  border-right: 2px solid var(--text-color);
}

/** Image hover effects */
.img {
  transition: 0.25s;
}

.button:hover .edit {
  scale: 1.4;
  rotate: -360deg;
}
/** Image hover effects */

/** Button active effects */
.button::before {
  content: '';
  background-color: var(--text-color);
  height: 100%;
  width: 100%;
  border-radius: 20px;
  scale: 0.2;
  filter: blur(10px);
  opacity: 0;
}

.forkNon.button:active::before,
.StrokeElement.button:active::before {
  content: '';
  scale: 1;
  opacity: 0.06;
}

.forkNon.button:active,
.StrokeElement.button:active {
  scale: 1.14;
}
/** Button active effects */
.inputAdd,
.inputSearch {
  position: absolute;
  width: 0;
  top: 50%;
  transform: translate(0, calc(-50% + 2px));
  padding-bottom: 4px;
  border-radius: 6px;
  text-align: center;
  opacity: 0;
}

/** Fork state */

/* Left */

/* Active button */
.button-position-left.forkSearch {
  position: absolute;
  width: auto;
  right: 26%;
}
/* Passive button */
.button-position-right.forkSearch {
  position: absolute;
  width: auto;
  min-width: 62px;
  left: 80%;
  scale: 1 0.8;
}
.forkSearch .inputSearch {
  opacity: 1;
  width: 90%;
  pointer-events: all;
}
/* Left */

/* right */

/* Active button */
.button-position-right.forkAdd {
  position: absolute;
  width: auto;
  left: 26%;
}
/* Passive button */
.button-position-left.forkAdd {
  position: absolute;
  width: auto;
  min-width: 62px;
  right: 80%;
  scale: 1 0.8;
}
.forkAdd .inputAdd {
  position: absolute;
  opacity: 1;
  width: 90%;
  pointer-events: all;
}
/* right */

.forkSearch .search,
.forkAdd .add {
  opacity: 0.1;
  scale: 0.6;
}

.forkSearch .tick,
.forkAdd .tick {
  rotate: 360deg;
  opacity: 0.5;
  scale: 0.7;
}

/** Fork state */
