.stroke {
  position: relative;
  left: 0;
  right: 0;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  user-select: none;
  pointer-events: none;
}

.stroke.horizontal {
  position: absolute;
}

.h1,
.h2,
.h3 {
  position: relative;
  display: flex;
  flex-direction: stroke;
  align-items: center;
  justify-content: center;
}

.h1 .textH1,
.h2,
.h3 {
  /* animation: clouseStroke 0.25s 1 linear; */
  animation-fill-mode: forwards;
}

@keyframes clouseStroke {
  0% {
    scale: 1 1;
    height: 119px;
  }
  50% {
    /* scale: 0 1; */
  }
  100% {
    /* scale: 0 1; */
    height: 65px;
  }
}
@keyframes openListEditing {
  0% {
    /* scale: 0 1; */
    height: 119px;
  }
  50% {
    /* scale: 0 1; */
  }
  100% {
    scale: 1 1;
    height: 65px;
  }
}
@keyframes clouseListEditing {
  0% {
    scale: 1 1;
    height: 65px;
  }
  50% {
    /* scale: 0 1; */
  }
  100% {
    /* scale: 0 1; */
    height: 119px;
  }
}

/** Lisen this event and after this turn-on 'visability: hidden' for LOL */

.h1 .textH1 {
  /* animation: openStroke 0.25s 1 linear; */
  animation-fill-mode: forwards;
}
@keyframes openStroke {
  0% {
    scale: 0 1;
    height: 65px;
  }
  50% {
    scale: 0 1;
  }
  100% {
    scale: 1 1;
    height: 119px;
  }
}

.h1 {
  font-size: 34px;
  margin: -8px 0;
  margin-top: -8px;
}

.h2 {
  font-size: 20px;
}
.h2Off {
  display: none;
}

.h3 {
  font-size: 16px;
}
.h3Off {
  display: none;
}
.textH1 {
  position: relative;
}
.textH2,
.textH3 {
  margin-right: 8px;
  color: rgba(217, 217, 217, 0.7);
}

.stroke-line {
  margin: 0 30px;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(239, 240, 232, 0),
    rgba(239, 240, 232, 0.34),
    rgba(239, 240, 232, 0)
  );
  border-radius: 50%;
}
