:root {
  --vhMath: 1vh;
  --vwMath: 1vw;
}

.container {
  position: relative;
  /* width: calc(100vw - 14vw);
  height: calc(100vh - 8vh);
  margin: 4vh calc(7vw); */
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* border: dotted 7px blue;
  box-sizing: border-box; */

  /* border: 2px rgb(154, 189, 167) solid; */
}
